{% extends 'core/base.html' %}
{% load static %}
{% block title %}Bolsa{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    <div style="padding-top:50px; text-align:center;">
      <h1>Bolsa</h1>
    </div>
    <h2>Listado de Prospectos</h2>
    
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Prestamo</th>
        <th>Restante</th>
        <th>Tasa</th>
        <th>Meses Moroso</th>
        <th>Acciones</th>
      </tr>
      {% for prestamo in object_list %}
        {% if prestamo.estado == 0 %}  
          <tr>
            <td>{{prestamo.cantidad}}</td>
            <td>{{prestamo.cantidad}}</td>
            <td>{{prestamo.restante}}</td>
            <td>{{prestamo.tasa}}</td>
            <td>{{prestamo.moroso}}</td>
            <td><a href="#" class="btn btn-primary" >Detalles</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}
