{% extends 'core/base.html' %}
{% load static %}
<script src="{% static 'prestamos/js/cotizador.js' %}"></script>
{% block content %}

<div class="container">

    <div class="row">
        <nb-card>
            <nb-card-header>Calculadora</nb-card-header>
            <nb-card-body>
                <form action="{% url 'prestamos:calcular' %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col">
                            <input type="number" placeholder="Cantidad" id="cantidad" name="cantidad">
                        </div>
                        <div class="col">
                            <input type="number" placeholder="No. pagos" id="pagos" name="pagos">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <input type="number" disabled placeholder="Interes" id="interes" name="interes" value="{{interes}}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <button type="submit" class="btn btn-primary" outline status="info">Calcular</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    
    {% if cotizado %}

    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <nb-card>
                    <nb-card-header>Americano</nb-card-header>
                    <nb-card-body>
                        <table class="table table-dark">
                            <thead> 
                                <tr>
                                    <th>No</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for calculo in americano %}
                                    <tr>
                                        <td>{{calculo.no}}</td>
                                        <td>{{calculo.cantidad}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col">
                <nb-card *ngIf="cotizado">
                    <nb-card-header>Nivelado</nb-card-header>
                    <nb-card-body>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for calculo in frances %}
                                    <tr>
                                        <td>{{calculo.no}}</td>
                                        <td>{{calculo.cantidad}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}