{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{prestamo.cantidad}}</h2>
        
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
