{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Prestamo{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div style="padding-top:50px; text-align:center;">
      <h1>Crear Prestamo</h1>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
              {{ form.as_p }}
              <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary btn-block" value="Crear Prestamo"/>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}