{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar página{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style='color:green;'> modificado 
            </p>

          {% endif %}
            <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                <br>
                <input type="submit" value="Actualizar Cliente" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}