{% extends 'core/base.html' %}
{% load static %}
{% block title %}Clientes{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    <div style="padding-top:50px; text-align:center;">
      <h1>Clientes</h1>
    </div>
    <h2>Listado de Clientes</h2>
    
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>direccion</th>
        <th>telefono Celular</th>
        <th>Telefono Residencial</th>
        <th>Acciones</th>
      </tr>
      {% for client in object_list %}
        <tr>
          <td>{{client.nombre}}</td>
          <td>{{client.apellidos}}</td>
          <td>{{client.direccion}}</td>
          <td>{{client.telefonoCelular}}</td>
          <td>{{client.telefonoDomicilio}}</td>
          <td><a href="{% url 'clientes:clientd' client.id %}" class="btn btn-primary" >Detalles</a></td>
        </tr>
      {% endfor %}
    </table>
      
    
  </div>
</main>
{% endblock %}
