{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear página{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div style="padding-top:50px; text-align:center;">
      <h1>Crear Cliente</h1>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
              <!-- <div class="row">
                <div class="col">
                  {{ form.nombre }}
                </div>
                <div class="col">{{ form.apellidos }}</div>
              </div> -->
              {{ form.as_p }}
              <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary btn-block" value="Crear Cliente" />
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}