{% extends 'core/base.html' %}
{% load static %}
{% block title %}Borrar página{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Estás seguro de eliminar "{{ object.nombre }}"?</p>
                <input type="submit" value="Confirmar" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}