{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{client.nombre}} {{client.apellidos|safe}}</h2>
        <div class="container">
          <div class="row">
            <span>DPI: </span> {{client.dpi}}
          </div>
          <div class="row">
            <span>Nit: </span> {{client.nit}}
          </div>
          <div class="row">
            <span>Telefono Domicilio:   </span> {{client.telefonoDomicilio}}
          </div>
          <div class="row">
            <span>Telefono Celular: </span>{{client.telefonoCelular}}
          </div>
          <div class="row">
            <span>Telefono Referencia: </span>{{client.telefonoReferencia}}
          </div>
          <div class="row">
            <span>Fecha Nacimiento: </span> {{client.fechaNacimiento}}
          </div>
          <div class="row">
            <span>Lugar Nacimiento: </span>{{client.lugarNacimiento}}
          </div>
          <div class="row">
            <span>Direccion: </span>{{client.direccion}}
          </div>
        </div>
        <div class="row">
          <p><a href="{% url 'clientes:update' client.id %}">Editar</a></p> | <a href="{% url 'clientes:delete' client.id %}">Borrar</a>
          {% if request.user.is_staff %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
