<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    <body>
      <!-- Navegación -->
      
      <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul>
          <!-- HOME -->
          <li><a href="{% url 'home' %}">Home</a></li>
          <!-- Clientes -->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li><a href="{% url 'clientes:create' %}"><i></i>Nuevo Cliente</a></li>
              <li><a href="{% url 'clientes:clients' %}"><i></i>Clientes</a></li>
            </ul>
          </li>
          <!-- Prestamos -->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Prestamos</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              <li><a href="{% url 'prestamos:cotizador' %}"><i></i>Cotizador</a></li>
              <li><a href="{% url 'prestamos:create' %}"><i></i>Nuevo Prestamo</a></li>
              <li><a href="{% url 'prestamos:prestamos' %}"><i></i>Bolsa</a></li>
              <li><a href="{% url 'prestamos:avaluos' %}"><i></i>Avaluo</a></li>
              <li><a href="#"><i></i>Aprovacion</a></li>
              <li><a href="{% url 'prestamos:prestamos' %}"><i></i>Prestamos</a></li>
            </ul>
          </li>
          <!-- Reportes -->
          <li>
            <a href="#reportesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Reportes</a>
            <ul class="collapse list-unstyled" id="reportesSubmenu">
              <li><a href="#"><i></i>Reportes</a></li>
            </ul>
          </li>
          <!-- Cobros -->
          <li>
            <a href="#cobrosSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Cobros</a>
            <ul class="collapse list-unstyled" id="cobrosSubmenu">
              <li><a href="#"><i></i>Caja</a></li>
              <li><a href="#"><i></i>Abono</a></li>
            </ul>
          </li>
          <!-- Organizador -->
          <li>
            <a href="#oganizadorSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Organizador</a>
            <ul class="collapse list-unstyled" id="oganizadorSubmenu">
              <li><a href="#"><i></i>Calendario</a></li>
              <li><a href="#"><i></i>Clientes</a></li>
            </ul>
          </li>
          <!-- Administrador -->
          <li>
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Administrador</a>
            <ul class="collapse list-unstyled" id="adminSubmenu">
              <li><a href="#"><i></i>Empleados</a></li>
              <li><a href="#"><i></i>Bitacora</a></li>
            </ul>
          </li>
        </ul>

      </div>

      <!-- Contenido -->
      {% block content %}{% endblock %}
      <!-- Javascript -->
      <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'core/js/main.js' %}"></script>
  </body>
</html>