{% extends 'core/base.html' %}
{% load static %}
{% block title %}Clientes{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    <div style="padding-top:50px; text-align:center;">
      <h1>{{title}}</h1>
    </div>
    <h2>Listado de Clientes</h2>
    {% for cliente in client_list %}
      <span>Cliente</span>
    {% endfor %}
  </div>
</main>
{% endblock %}
